*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.esqueletoOff{
    width: 550px;
    height: 600px;
    background-color: rgb(221, 153, 64);
    display: flex;
    /* Alinacion vertical */
    align-items: end;
    justify-content: center;
    background-image: url("../img/esqueletoEsta.png");
}

.esqueletoOff.on{
    background-image: url("../img/esqueletoMov.gif");
}
.esqueletoOnOff{
    width: 100px;
    height: 50px;
    background-color: rgb(253, 93, 0);
    border-radius: 1vh;
    border: .2rem solid rgb(224, 120, 59);
    position: fixed;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: monospace;
    cursor: pointer;
}
.esqueletoOnOff:hover{
    background-color: bisque;
    color: black;
}